apiVersion: apps/v1
kind: Deployment
metadata:
  name: trend-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: trend
  template:
    metadata:
      labels:
        app: trend
    spec:
      containers:
      - name: trend-container
        image: YOUR_DOCKERHUB_USERNAME/trend-app:latest # <--- CHANGE THIS
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: trend-service
spec:
  type: NodePort
  selector:
    app: trend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30007